.wrapper {
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
  padding: 5px 0 5px 0;
}
@media (max-width: 1023px) {
  .main {
    margin-right: 9px;
    padding: 9px 0 9px 0;
  }
}
